* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

section {
  background: url('file:///C:/cygwin64/home/Tim/projects/broadway/resources/images/the-flatiron-building.png') center;
  background-size: cover;
}

a {
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

div p {
  font-size: 14px;
}

#soon {
  background: url('file:///C:/cygwin64/home/Tim/projects/broadway/resources/images/the-flatiron-building.png') center;
  background-size: cover;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
