* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

/* I'm having a bit of trouble with these image links as you can see. any url pointing to the uploaded directory (ie. /resources/images/*.png) just won't work, unless I put the full url*/
section {
  background: url('https://github.com/hgotia/broadway/blob/master/resources/images/the-flatiron-building.png?raw=true') center;
  background-size: cover;
}

a {
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

div p {
  font-size: 14px;
}

#soon {
  background: url('https://github.com/hgotia/broadway/blob/master/resources/images/the-flatiron-building.png?raw=true') center;
  background-size: cover;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
